.App {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(21, 21, 22);
  color: rgb(241, 241, 241);
  padding: 0.25em;
  font-size: 2em;
  box-shadow: 2px 2px grey;
}

.nav a {
  color: rgb(241, 241, 241);
  text-decoration: none;
}